.mscalendar-create-event-form {
    input[type="date"] {
        &::-webkit-calendar-picker-indicator {
            // Use mask-image so we can control color via background-color
            -webkit-mask-image: var(--date-picker-icon);
            mask-image: var(--date-picker-icon);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            // Fixed icon size (visual size of the icon)
            -webkit-mask-size: var(--date-picker-icon-size);
            mask-size: var(--date-picker-icon-size);

            // Center the icon within the larger clickable area
            -webkit-mask-position: center;
            mask-position: center;

            background-color: var(--date-picker-icon-color);
            background-image: none;
            display: block;

            // Total clickable area (larger than icon for easier interaction)
            height: var(--date-picker-clickable-size);
            width: var(--date-picker-clickable-size);
            cursor: pointer;

            &:hover {
                background-color: var(--date-picker-icon-color-hover);
            }
        }
    }
}
